.footer{
    background: $bg-color;
    h4,p{
        color:white;
    }
    h6,h5{
        color:lightgrey;
        line-height:25px;
    }
    span{
        color:$pri-color;
    }
    a{
        text-decoration: none;
        font-family: $sec-font;
    }
    .quick-links{
        ul{
            li{
                &:hover a{
                    color:$pri-color;
                    text-decoration: none;
                }
            }
            a{
                color: lightgrey;
                line-height: 50px;
                display: block;
                transition:.5s;
            }
        }
        .head{
            position:relative;
            

            &:before{
               position: absolute;
               content: '';
               top:120%;
               left:0;
               background: linear-gradient(to right,$pri-color,$bg-color);
               width: 90%;
               height: 5px; 
            }

        }
    }
    .social-icons{
        line-height: 20px;
        a{
            border:1px solid lightgrey;
            @include border-radius(50%);
            height: 40px;
            width: 40px;
            line-height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin:0 8px;
            text-decoration: none;
            color:white;
            transition:.5s;

            &:hover{
                background:$pri-color;
                border:1px solid $pri-color;
            }
        }
    }
    .love{
        h6{
            letter-spacing: 1px;
            
        }
      
    }
    
}